{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table action="/" method="get" class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for dict in data %}
                <tr>

                    <td>{{ dict.symbol }}</td>
                    <td>{{ dict.name }}</td>
                    <td>{{ dict.shares }}</td>
                    <td>{{ dict.price | usd }}</td>
                    <td>{{ dict.total | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 text-end">{{ fulltotal | usd }}</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
